*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f8f4ef;
color:#333;
}

nav{
background:#2d1b14;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:#fff;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
font-weight:500;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content{
color:white;
}

.hero-content h1{
font-size:60px;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
margin-bottom:25px;
}

.btn{
background:#c89b6d;
padding:12px 30px;
color:white;
text-decoration:none;
border-radius:30px;
}

.about{
padding:80px 20px;
text-align:center;
max-width:900px;
margin:auto;
}

.menu-section{
padding:60px;
text-align:center;
}

.menu-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.contact-section{
padding:60px;
display:flex;
justify-content:center;
}

.contact-card{
background:white;
padding:40px;
border-radius:15px;
width:500px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

input,
textarea{
width:100%;
padding:12px;
margin-top:15px;
border:1px solid #ddd;
border-radius:8px;
}

button{
margin-top:15px;
padding:12px 25px;
background:#2d1b14;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

footer{
background:#2d1b14;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}